body{
    margin: 0;
    padding: 0;
    background-image: url('background.jpg');
    
}






/*main logo about the corgies */
#logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin: 20px;
    width: 40%;
    box-shadow: 2px 5px 5px black;
    text-align: center;
    padding: 5px;
    background-color: white;
}
#logo img{
position: absolute;
left: 0;
top: 0;
height: 97%;
width: auto;


}
#logo h1{
font-size: 60px;
padding: 0;
margin: 0;
font-family: 'Courier New', Courier, monospace;
font-style: italic;
}




/*main dropdown menu about the corgies */
#dropdown{
    font-size: 35px;
    color: white;
    position: absolute;
    width: 16.5%;
    left: 10px;
    top: 20px;
    background-color:darkgrey;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
    
}
#dropdown #text{
    height: 50px;
    display: block;
    text-align: center;
    align-items: center;
}
#dropdown:hover #dropdown_content{
    display: inherit;
}
#dropdown_content{
  
  display: none;
   
}
#dropdown_content a{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: block;
    text-align: center;
    
    height: 50px;
}
#dropdown_content a:hover{
    background-color: lightseagreen;
 
}






/*the main image container */
#img_container{
position: absolute;
top: 200px;
left: 50%;
width: 65%;
border: 1px solid black;
transform: translate(-50%);
background-color: rgba(16, 153, 153,0.3);
height: 600px;
}
#left{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    margin: 0px 5px;
    transition: 1s;
}
#right{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
    margin: 0px 5px;
    transition: 1s;
}
#right p{
    text-align: center;
    color: white;
    font-weight: 1000;
    font-size: 200px;
    opacity: 0;
    cursor: pointer;
    
}
#left p{
    text-align: center;
    color: white;
    font-weight: 1000;
    font-size: 200px;
    opacity: 0;
    cursor: pointer;


}
#left:hover  {
    border-right: 1px solid navajowhite;
}
#right:hover{
border-left: 1px solid navajowhite;
}
#left:hover p{
    opacity: 1;
}
#right:hover p{
    opacity: 1;
}
#image{
    margin-top:10px;
    position: relative;
    left: 49.2%;
    width: 68%;
    height: 95%;
    transform: translateX(-50%);
    opacity: 1;
    transition: 1.5s;
}